body,
html,
#calendar,
.container-fluid {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

/* Header
*/

.navbar-inverse {
	background: #D05F9F;
	border-bottom: 0;
	margin-bottom: 0;
}
.navbar>.container-fluid .navbar-brand {
	width: 93px;
	height: 35px;
	display: block;
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -47.5px;
	padding: 0;
	top: 8px;
}

.navbar .logo {
	width: 93px;
	height: 35px;
	background-image: url(../images/logo-white-2.png);
	-webkit-background-size: 93px 35px;
	background-size: 93px 35px;
	text-indent: -10000px;
	display: block;

}

.logout {
	color: #fff;
	text-decoration: none;
	margin: 15px 15px 0 0;
}

.logout:hover {
	opacity: .8;
	text-decoration: none;
	color: #FFF;
}

/* Full callendar
*/

.delete-event{
	display: block;
	color: #fff;
	display: block;
	color: #fff;
	position: absolute;
	bottom: 5px;
	right: 4px;
	font-size: 18px;
	display: none;
	cursor: pointer;
	z-index: 4;
}

.delete-event:hover {
	color: #FFF;
	text-decoration: none;
	opacity: .8;
}

.fc-event {
	background: #1d9d74;
	border: 1px solid #1d9d74;
}

.fc-event:hover .delete-event {
	display: block;
}

#create .create {
	display: inline-block;
}

#create .update {
	display: none;
}

#update .create {
	display: none;
}

#update .update {
	display: inline-block;
}

/* Homepage
*/
.home	{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.brand {
	margin: 20px auto 30px;
	width: 210px;
}

.brand img {
	width: 100%;
}

.form-wrap {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 10px;
}

.form-wrap h1 {
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.fc-toolbar {
	background: #F1F5F8;
	margin-bottom: 0;
	color: #646464;
	position: relative;
}

.fc-toolbar .fc-center{
	padding: 7px 0 4px 0;
}

.fc-toolbar .fc-right {
	position: absolute;
	right: 10px;
	top: 9px;
}

.test {
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	padding: 50px 0 0;
}

.test1 {
	background: blue;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

div.test3 {
	height: 800px;
}
