body,
html,
#calendar,
.container-fluid {
	height: 100%;
}

/* Header
*/

.navbar .navbar-brand {
	padding: 0;
	height: auto;
	margin: 11px 0 6px 0;
}
.navbar .logo {
	width: 93px;
	height: 35px;
	background-image: url(../images/logo-white.png);
	-webkit-background-size: 93px 35px;
	background-size: 93px 35px;
	text-indent: -10000px;
	display: block;
}

.logout {
	color: #fff;
	text-decoration: none;
	margin: 15px 15px 0 0;
}

.logout:hover {
	opacity: .8;
	text-decoration: none;
	color: #FFF;
}

/* Alerts form
*/

.form-alerts {
	margin-bottom: 40px;
}


/* Weekly callendar
*/

.ui-widget-header {
	background: transparent;
	border: transparent;
}
.ui-widget-header h1{
	font-size: 20px;
}

.ui-widget-header .wc-nav.ui-buttonset {
	position: absolute;
	right: 35px;
	margin: 0;
}

.wc-time-header-cell {
	height: 79px !important;
	font-size: 14px;
}

.home	{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.brand {
	margin: 20px auto 30px;
	width: 210px;
}

.brand img {
	width: 100%;
}

.form-wrap {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 10px;
}

.form-wrap h1 {
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.delete-event{
	display: block;
	color: #fff;
	display: block;
	color: #fff;
	position: absolute;
	bottom: 5px;
	right: 4px;
	font-size: 18px;
	display: none;
	cursor: pointer;
	z-index: 4;
}

.delete-event:hover {
	color: #FFF;
	text-decoration: none;
	opacity: .8;
}

.fc-event {
	background: #1d9d74;
	border: 1px solid #1d9d74;
}

.fc-event:hover .delete-event {
	display: block;
}

#create .create {
	display: inline-block;
}

#create .update {
	display: none;
}

#update .create {
	display: none;
}

#update .update {
	display: inline-block;
}