body,
html,
#calendar,
.container-fluid {
	height: 100%;
	font-family: 'Lato', sans-serif;
}

/* Sign-in
*/

.sign-in {
	padding: 0;
	height: auto;
}
.sign-in:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: url(../images/london.jpg) 50% 50%;
	position: absolute;
}

/* Header
*/

.navbar-inverse {
	background: #D05F9F;
	border-bottom: 0;
	margin-bottom: 0;
}
.navbar>.container-fluid .navbar-brand {
	width: 93px;
	height: 35px;
	display: block;
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -47.5px;
	padding: 0;
	top: 8px;
}

.navbar .logo {
	width: 93px;
	height: 35px;
	background-image: url(../images/logo-white-2.png);
	-webkit-background-size: 93px 35px;
	background-size: 93px 35px;
	text-indent: -10000px;
	display: block;

}

.navbar .dropdown .btn {
	background: #D05F9F;
	border: 1px solid #fff;
	color: #FFF;
	margin-top: 8px;
}

/* Full callendar
*/

.delete-event{
	display: block;
	color: #fff;
	display: block;
	color: #fff;
	position: absolute;
	bottom: 5px;
	right: 4px;
	font-size: 18px;
	display: none;
	cursor: pointer;
	z-index: 4;
}

.delete-event:hover {
	color: #FFF;
	text-decoration: none;
	opacity: .8;
}

.fc-event {
	background: #1d9d74;
	border: none;
	border-radius: 0;
}

.fc-event:hover .delete-event {
	display: block;
}

#create .create {
	display: inline-block;
}

#create .update {
	display: none;
}

#update .create {
	display: none;
}

#update .update {
	display: inline-block;
}

/* Homepage
*/
.home	{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.brand {
	padding: 20px 0;
	margin: 0px auto 30px;
	background: rgba(255,255,255, .9);
	position: relative;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 261px;
}

.brand img {
	width: 210px;
	display: block;
	margin: 0 auto 10px;
}

.form-wrap {
	border: 1px solid #FFF;
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 10px;
	background: #FFF;
}

.form-wrap h1 {
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.fc-toolbar {
	background: #F1F5F8;
	margin-bottom: 0;
	color: #646464;
	position: relative;
}

.fc-toolbar .fc-center{
	padding: 7px 0 4px 0;
}

.fc-toolbar .fc-right {
	position: absolute;
	right: 10px;
	top: 9px;
}

.test {
	position: absolute;
	width: 100%;
	height: 100%;
	background: red;
	padding: 50px 0 0;
}

.test1 {
	background: blue;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

div.test3 {
	height: 800px;
}

p.text-white {
	color: #FFF;
}

.white-block {
	background: #fff;
	border-radius: 3px;
	padding: 10px 10px 5px;
	text-align: center;
}

.shadow {
	box-shadow: rgba(0,0,0, .9) 0 0 5px;
}

/* Search
*/
body .calendar {
	width: 100%;
}
body.search-active .calendar{
	-webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  -o-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;

  width: 80%;
}

/* Draggable */
.contacts-list {
	width: 0;
	background: #F1F5F8;
	height: 100%;
	display: none;
}
body.search-active .contacts-list{
	-webkit-transition: width .1s ease-in-out;
  -moz-transition: width .1s ease-in-out;
  -o-transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
	
	display: block;
  width: 20%;
  position: absolute;
  right: 0;
  top: 50px;
}

.contacts-list-header {
	padding: 0 10px;
	margin: 15px 0 0 0;
	position: relative;
}

.contacts-list-header h5 {
	font-size: 17px;
	margin: 0;
	color: #646464;
}

.contacts-list-header h5 i {
	margin: 0 10px 0 0;
	color: #646464;
}

.close {
	font-size: 20px;
}

.contacts-list-header .close{
	position: absolute;
	right: 13px;
	top: 0;
}

.contacts-list-content {
	padding: 10px;
}

.contacts-list-content ul {
	background: #fff;
	padding: 10px;
}

.drag-item {
	width: 100%;
	
	padding: 6px 0 7px 8px;
	margin-bottom: 2px;
	background: #FFF;
	position: relative;
}

.drag-item:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 3px;
	background: #1d9d74;
	z-index: 1;
}

.drag-item:hover {
	background: #E8E8E8;
	cursor: move;
}

.drag-item.ui-draggable-dragging {
	z-index: 10000;
	cursor: move;
	color: #fff;

}

.drag-item.ui-draggable-dragging:before {
	-webkit-transition: width .5s ease-in-out;
  -moz-transition: width .5s ease-in-out;
  -o-transition: width .5s ease-in-out;
  transition: width .5s ease-in-out;
  
	z-index: -1;
  width: 100%;
}

.show-clients,
.show-clients:focus {
	border: 1px solid #fff;
	color: #fff;
		margin: 8px 0 0 10px;
	padding: 6px 10px;
	border-radius: 4px;
}


.show-clients:hover {
	color: #fff;
	opacity: .8;
}

body.search-active .show-clients {
	color: #D05F9F;
	background: #fff;
}

.search-input {

	margin: 35px 0 0;
	position: relative;
}

.search-input:before {

	position: absolute;
	top: 10px;
	right: 10px;
	color: #000;
	opacity: .2;

}

/* Modal
*/
.create-update .control-label {
	display: block;
}

.reminder {
	margin: 18px 0;
}


.remind-label {
	float: left;
	margin: 8px 0 0 0;
}

.reminder .input-group input.form-control {
	display: inline-block;
	width: 60px;
}

.reminder .input-group select.form-control{
	display: inline-block;
	width: 105px;
}

.reminder .input-group {
	float: left;
	margin: 0 13px 0 25px;

}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.modal-dialog {
	width: 500px;
}
.intl-tel-input {
	width: 100%;
}


.modal-message-preview {
	position: relative;
}
.modal-message-preview textarea {
	height: 75px;
	resize: none;
}

.textarea-cover {
	width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	top: 25px;
	height: 75px;
	background: transparent;
}

#charNum {
	float: right;
	font-size: 11px;
	font-family: monospace;
	margin-top: 5px;
}

.onboarding {
	width: 100%;
	height: 100%;
	background: #FFF;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	display: none;
}

.onboarding h1 {
	font-family: 'Gloria Hallelujah', cursive;
	margin-bottom: 60px;
	text-align: center;
	margin: 100px 0;
}

.onboarding label {
	font-size: 20px;
}

.onboarding .step2 {
	display: none;
}
.onboarding .step2 h1 {
	margin-bottom: 50px;
}

.onboarding .step2 .image-wrap {
	max-width: 910px;
	margin: 0 auto 30px;
}

.onboarding .step2 .image-wrap img {
	max-width: 100%;
}

.onboarding .step2 .btn {
	display: block;
	max-width: 200px;
	margin: 0 auto 120px;
}

body .timeline {
  position: absolute;
  left: 59px;
  border: none;
  border-top: 1px solid red;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 999;
}
