<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/tablesorter/jquery.tablesorter.js"></script>
<script>
  $(document).ready(function () {
    $('#sorted-table').tablesorter({
      sortList: [[2,1]] 
    });
  })
</script>
</body>
</html>