<span class="close">&times;</span>
<h3 class="contact-name"><%= contact.name %></h3>
<span class="contact-number"><%= contact.number %></span>
<br>
<span class="contact-number"><%= contact.email || 'No email' %></span>
<br>
<a href="" class="change-contact">Change contact details</a>