<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Confirm Appointment</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage" style="margin:0; padding:0; background: #EEEEEE;">

<table class="body-wrap" align="center" cellpadding="0" cellspacing="0" style="background: #FFF;">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
          <tr>
            <td>
              <table width="100%" cellpadding="0" cellspacing="0" style="background: #436FD2;">
                <tr>
                  <td style="text-align: center; padding: 20px">
                    <img src="http://www.getapunto.com/images/logo-white-2.png" alt="" style="max-width: 150px; display:inline-block; min-height:auto;line-height:100%;outline:none;text-decoration:none;border:0" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <h1 style="font-family:Helvetica;font-size:36px;font-style:normal;font-weight:bold;text-align:center;margin:40px auto 20px" align="center"><font color="#ffffff">Please confirm appointment</font></h1>
                  </td>
                </tr>
              </table>
              
            </td>
          </tr>
          <tr>
            <td class="content-wrap" style="padding: 20px">
              <meta itemprop="name" content="Confirm Email"/>
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="content-block">

                      <p style="font-family: Arial, sans-serif; text-align:left;font-size:20px;line-height:24px;margin:20 auto 10px;padding:0 40px 0 0" align="left"><font color="#4d4d4d">Reminder: you have an appointment on 19/05/2016 starting at 13:30 with sebastian from oracol.</font></p>

                      <table width="100%">
                        <tr>
                          <td align="center">
                            <table border="0" cellpadding="14" cellspacing="0" style="display:inline-block;font-family: sans-serif;font-weight:bold;font-size:24px;text-align:center;color:#ffffff;border-radius:6px;border-collapse:collapse!important;background:#EB5A46;margin:10px 0 40px" align="center" bgcolor="#61BD4F">
                              <tbody><tr>
                                  <td align="center" valign="middle">
                                      <a href="<%= urlCancel %>" style="text-decoration:none;padding:10px" target="_blank"><font color="white">Cancel</font></a>
                                  </td>
                                  </tr>
                              </tbody>
                            </table>
                          </td>
                          <td align="center">
                            <table border="0" cellpadding="14" cellspacing="0" style="display:inline-block;font-family: sans-serif;font-weight:bold;font-size:24px;text-align:center;color:#ffffff;border-radius:6px;border-collapse:collapse!important;background:#61bd4f;margin:10px 0 40px" align="center" bgcolor="#61BD4F">
                              <tbody><tr>
                                  <td align="center" valign="middle">
                                      <a href="<%= urlConfirm %>" style="text-decoration:none;padding:10px" target="_blank"><font color="white">Confirm</font></a>
                                  </td>
                                  </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </table>

                    </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <p style="font-family: Arial, sans-serif; text-align:left;font-size:15px;line-height:24px;margin:20 auto 10px;padding:0 40px 0 0" align="left"><font color="#4d4d4d">Powered by <a href="" style="text-decoration:underline;color: #436FD2">Apunto - Email reminders</a>.</font></p>
                  </td>
                </tr>
                
              </table>
            </td>
          </tr>
        </table>
        </div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>