        </div>
      </div>
    </div>
  </div><!--/#home-section--> 

  <!--/#scripts--> 
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/js/jquery.nav.js"></script> 
  <script type="text/javascript" src="/js/canvas.js"></script> 
  <script type="text/javascript" src="/js/preloader.js"></script> 
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script> 
  <script type="text/javascript" src="/js/wow.min.js"></script> 
  <script type="text/javascript" src="/js/main.js"></script> 
  

</body>
</html>