<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Apunto Dashboard
  </title>
  
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script> 
  <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/ejs/ejs.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css">
  
  <link rel="stylesheet" href="style/app.css">
  <script src="scripts/app.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="navbar-header">
            
            <a href="" class="navbar-brand">
              <span class="logo"></span>
            </a>

          </div> <!-- navbar-header -->

          <a href="/signout" class="pull-right logout"> <i class="fa fa-power-off"></i> Log out</a>

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="calendar" data-calendarid="<%= calendar._id %>">
          
        </div>
        <div class="ajax-test">
          <div class="row">
            <div class="col-md-3">
              <h3>Create</h3>
              <form action="" id="create">
                <label for="" class="control-label">Client Name</label>
                <input type="text" name="name" id="" class="form-control" required>

                <label for="" class="control-label">Number</label>
                <input type="text" name="number" id="" class="form-control" required>

                <label for="" class="control-label">Type</label>
                
                <label for="" class="checkbox">
                  <input type="checkbox" name="call" id="" value="true">
                  Call
                </label>

                <label for="" class="checkbox">
                  <input type="checkbox" name="sms" id="" value="true">
                  SMS
                </label>

                <label for="" class="checkbox">
                  <input type="checkbox" name="email" id="" value="true">
                  Email
                </label>

                <input type="hidden" name="id" value="">
                <input type="hidden" name="start" value="">
                <input type="hidden" name="end" value="">

                <button href="" class="btn btn-primary create">Create</button>
              </form>
            </div>
            <div class="col-md-3">
              <h3>Read</h3>
              <div class="list"></div>
            </div>
          </div>
          
        </div> <!-- ajax-test -->
        
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->


  <div class="modal" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      
        <div class="modal-content">
          
        </div> <!-- modal-content -->
      
    </div>
  </div>
</body>
</html>
