<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Apunto Dashboard
  </title>
  
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script> 
  <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/ejs/ejs.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css">
  
  <link rel="stylesheet" href="style/app.css">
  <script src="scripts/app.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          
          <div class="navbar-header">
            
            <a href="" class="navbar-brand">
              <span class="logo"></span>
            </a>

          </div> <!-- navbar-header -->

          <a href="/signout" class="pull-right logout"> <i class="fa fa-power-off"></i> Log out</a>

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container-fluid -->
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="calendar" data-calendarid="<%= calendar._id %>">
          
        </div>
        
        
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->


  <div class="modal" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      
        <div class="modal-content">
          
        </div> <!-- modal-content -->
      
    </div>
  </div>
</body>
</html>
