<%- include ./partials/auth-header %>

<h1>Sign In</h1>
<form action="/auth/signin" method="POST" class="cf auth-form">
  <% if (info.length) { %>
    <div class="alert alert-danger">
      <%= info %>
    </div>
  <% } %>
  <div class="form-group">
    <label for="" class="control-label">Email</label>
    <input type="text" class="form-control" name="username">
  </div>

  <div class="form-group">
    <label for="" class="control-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>

  <button type="submit" class="btn btn-primary btn-animated">Submit</button>

</form>

<a href="/auth/signup" class="auth-already">Creaza cont nou</a>

<%- include ./partials/auth-footer %>