<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    Apunto Signup
  </title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
  <link rel="stylesheet" href="libs/jquery.weekcalendar/jquery.weekcalendar.css">
  
  <script src="//code.jquery.com/jquery-1.8.0.min.js "></script>


  <link rel="stylesheet" href="style/app.css">
</head>
<body>

  <div class="home">
    
    <div class="brand">
      
      <img src="images/logo.png" alt="">

    </div>

  </div> <!-- home -->

  

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="row">
          <div class="col-md-4 col-md-offset-4 ">
            

            <div class="form-wrap">
              <h1>Signup</h1>
              <form action="/signup" method="POST">
                <% if (info.length) { %>
                  <div class="alert alert-danger">
                    <%= info %>
                  </div>
                <% } %>
                <div class="form-group">
                  <label for="" class="control-label">Email</label>
                  <input type="text" class="form-control" name="username" value="">
                </div>

                <div class="form-group">
                  <label for="" class="control-label">Password</label>
                  <input type="password" class="form-control" name="password" value="">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

              </form>
            </div>

            <p>Already have a account? <a href="/signin">Sign In</a></p>

          </div> <!-- col -->

        </div> <!-- row -->

      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2294103-9', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
