<%- include ./partials/auth-header %>
          
  <h1>Creează un cont</h1>

  <p>Gratuit primele 30 de zile</p>

  <form action="/auth/signup" method="POST" class="auth-form cf">
    <% if (info.length) { %>
      <div class="alert alert-danger">
        <%= info %>
      </div>
    <% } %>
    <div class="form-group">
      <label for="" class="control-label">Email</label>
      <input type="text" class="form-control" name="username" value="">
    </div>

    <div class="form-group">
      <label for="" class="control-label">Password</label>
      <input type="password" class="form-control" name="password" value="">
    </div>

    <div class="form-group">
      <label for="" class="control-label">Full Name</label>
      <input type="text" class="form-control" name="fullName" value="">
    </div>

    <div class="form-group">
      <label for="" class="control-label">Company</label>
      <input type="text" class="form-control" name="company" value="">
    </div>

    <button type="submit" class="btn btn-primary btn-animated">Creaza cont</button>

  </form>

  <a href="/auth/signin" class="auth-already">Am deja cont</a>
<%- include ./partials/auth-footer %>